# Environnement
.env
.env.local
.env.development
.env.production

# Dépendances
node_modules/

# Build
.cache/
build/
dist/
public/uploads/

# Strapi
.strapi/
.tmp/
.strapi-updater.json
license.txt
exports/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Autres
*.tgz
*.zip
TODO.md
README.md.old
